# 03. 円周率
"Now I need a drink, alcoholic of course, after the heavy lectures involving quantum mechanics."という文を単語に分解し，各単語の（アルファベットの）文字数を先頭から出現順に並べたリストを作成せよ

In [1]:
str = 'Now I need a drink, alcoholic of course, after the heavy lectures involving quantum mechanics.'

In [2]:
words = str.split(' ')
print(words)

['Now', 'I', 'need', 'a', 'drink,', 'alcoholic', 'of', 'course,', 'after', 'the', 'heavy', 'lectures', 'involving', 'quantum', 'mechanics.']

In [16]:
list = []
for i in words:
    list.append(len(i))

    
print(list)

[3, 1, 4, 1, 6, 9, 2, 7, 5, 3, 5, 8, 9, 7, 10]

In [7]:
import pandas as pd
from pandas import DataFrame
words_df = DataFrame(words)
words_df
#print(words_count)

             0
0          Now
1            I
2         need
3            a
4       drink,
5    alcoholic
6           of
7      course,
8        after
9          the
10       heavy
11    lectures
12   involving
13     quantum
14  mechanics.

In [8]:
words_count = words_df.apply(len, axis=1)

In [9]:
words_count

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
dtype: int64

In [11]:
words_count = words_df.apply(lambda x: len(words(x).replace(' ', '')))

TypeError: ("'str' object is not callable", 'occurred at index 0')